<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Job!</title>
</head>
<body>
    <h1>Edit a Job!</h1>
    <form action="/jobs/myJobs/<%=job._id%>?_method=PUT" method="POST" style="margin-bottom:  20px;">
        <input type="date" name="date" placeholder="<%=job.date %>" value="<%=job.date %>">
        <input type="text" name="company" placeholder="<%=job.company %>" value="<%=job.company %>">
        <input type="text" name="position" placeholder="<%=job.position %>" value="<%=job.position %>">
        <input type="text" name="location" placeholder="<%=job.location %>" value="<%=job.location %>">

        <select name="status">
            <option value="Applied" <%=job.status === 'Applied' ? 'selected' : "" %>>Applied</option>
            <option value="Interview" <%=job.status === 'Interview' ? 'selected' : "" %>>Interview</option>
            <option value="Offer" <%=job.status === 'Offer' ? 'selected' : "" %>>Offer</option>
            <option value="Rejected" <%=job.status === 'Rejected' ? 'selected' : "" %>>Rejected</option>
        </select>
        <input type="text" name="linkToPosting" id="linkToPosting" value="<%=job.linkToPosting %>">
        <button>Submit</button>
    </form>
    
    <a href="/jobs/myJobs">Back to My Jobs</a>


    <!-- 100% privacy-first analytics -->
    <script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif?collect-dnt=true" alt="" referrerpolicy="no-referrer-when-downgrade"/></noscript>
</body>
</html>