<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Job!</title>
</head>
<body>
    <h1>Edit a Job!</h1>
    <form action="/myJobs/<%=job._id%>?_method=PUT" method="POST">
        <input type="text" name="company" id="company" placeholder="<%=job.company %>" value="<%=job.company %>">

        <input type="text" name="position" id="position" placeholder="<%=job.position %>" value="<%=job.position %>">
        <input type="text" name="location" id="location" placeholder="<%=job.location %>" value="<%=job.location %>">

        <select name="status" id="status">
            <option value="Applied" <%=job.status === 'Applied' ? 'selected' : "" %>>Applied</option>
            <option value="Interview" <%=job.status === 'Interview' ? 'selected' : "" %>>Interview</option>
            <option value="Offer" <%=job.status === 'Offer' ? 'selected' : "" %>>Offer</option>
            <option value="Rejected" <%=job.status === 'Rejected' ? 'selected' : "" %>>Rejected</option>
        </select>
        <button>Submit</button>
    </form>
    
</body>
</html>