<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyJobs</title>

    <style>
      .rejected-status {
        color: red;
        font-weight: bold;
      }
    </style>
</head>
<body>
    <h1 style="text-align: center;"> My Jobs </h1>

    <form style="padding-bottom: 5px;" method="GET" action="/jobs/myJobs">
      <input type="hidden" name="sort" value="<%= sort %>">
      <label for="filter">Filter Out Rejected?</label>
      <input type="checkbox" name="filter" id="filter" value="excludeRejected" onchange="this.form.submit()" <%=filter === 'excludeRejected' ? 'checked' : ''  %>>
    </form>
    
    <form style="padding-bottom: 5px;" method="GET" action="/jobs/myJobs">
      <input type="hidden" name="filter" value="<%= filter %>">
      <input type="hidden" name="sort" value="<%= sort %>">
      <input type="text" placeholder="Search by Company..." name="searchByCompany" id="searchByCompany">
      <button>Search</button>
    </form>

    <form style="padding-bottom: 5px;" method="GET" action="/jobs/myJobs">
      <input type="hidden" name="filter" value="<%= filter %>">
      <select name="sort" onchange="this.form.submit()">
        <option value="dateAsc" <%= sort === 'dateAsc' ? 'selected' : '' %>>Date (Oldest)</option>
        <option value="dateDesc" <%= sort === 'dateDesc' ? 'selected' : '' %>>Date (Newest)</option>
      </select>
    </form>

    <form method="GET" action="/jobs/myJobs" >
      <button> Refresh </button>
    </form>
    
    
    <table border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 100%; margin-bottom: 20px;">
        <thead>
          <tr>
            <th>Date</th>
            <th>Company</th>
            <th>Position</th>
            <th>Location</th>
            <th>Status</th>
            <th>Link</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (job of userJobs) { %>
            <tr>
              <td><%= new Date(job.date).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %></td>
              <td><%= job.company %></td>
              <td><%= job.position %></td>
              <td><%= job.location %></td>
              <td class="<%= job.status === 'Rejected' ? 'rejected-status' : '' %>"><%= job.status %></td>
              <% let link = job.linkToPosting.startsWith('http') ? job.linkToPosting : 'https://' + job.linkToPosting; %>
              <td><a href="<%= link%>" target="_blank" rel="noopener noreferrer">View Job</a></td>
              <td>
                <div style="display: flex; gap: 0.5rem;">
                  <a href="/jobs/myJobs/<%= job._id %>/edit">
                    <button type="button">Edit</button>
                  </a>
                  <form action="/jobs/myJobs/<%= job._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <input type="hidden" name="userId" value="<%= job.userId %>">
                    <button type="submit">Delete</button>
                  </form>
                </div>
              </td>
            </tr>
          <% } %>
          <tr>
            <td><a href="/jobs/new">Add a new job!</a></td>
          </tr>
        </tbody>
      </table>

      <form action="/auth/logout" method="post">
        <button style="padding-top: 15;">Log Out</button>
      </form>

      <!-- 100% privacy-first analytics -->
    <script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif?collect-dnt=true" alt="" referrerpolicy="no-referrer-when-downgrade"/></noscript>
</body>
</html>